*
	padding: 0
	margin: 0
	box-sizing: border-box
	border: none
	outline: none

html
	scroll-behavior: smooth

:root
	--prime: #5E59D7
	--white: #FFFFFF
	--bg: #7E8796
	--paddingContainer: 15px

.hidden
	display: none

body
	color: var(--white)
	background-color: var(--bg)
	font-family: "Montserrat", sans-serif
	font-stretch: normal
	font-optical-sizing: auto
	font-style: normal
	position: relative
	&.overflow,
	&.is_active
		overflow: hidden

.container
	max-width: 1200px
	width: 100%
	margin: 0 auto
	padding: 0 var(--paddingContainer)
	position: relative
	z-index: 1

p
	line-height: 22px
	font-weight: 300
	font-size: 16px

.tb
	&-hide
		@media screen and ( max-width: 991px )
			display: none !important

	&-show
		@media screen and ( min-width: 991px )
			display: none !important
.pc
	&-hide
		@media screen and ( min-width: 991px )
			display: none !important
.mob
	&-hide
		font-style: normal
		@media screen and ( max-width: 720px )
			display: none !important
	&-show
		font-style: normal
		@media screen and ( min-width: 720px )
			display: none !important

img
	display: block
	max-width: 100%

[class^="fx-"],
[class*=" fx-"],
.playlist li
	display: flex

.g
	&-16
		gap: 16px

input, textarea, select
	padding: 0 20px
	height: 50px
	display: block
	width: 100%
	margin: 0 0 12px
	border: 1px solid #FFFFFF33
	border-radius: 40px
	font-size: 16px
	font-weight: 500
	line-height: 19.5px
	transition: all .3s ease
	color: var(--white)
	background-color: rgba(0, 0, 0, 0)
	appearance: none

	&::placeholder
		color: #fff

	&:focus,
	&:hover

	&:placeholder-shown
		border-color: var(--haiti-50)

input
	&::-webkit-calendar-picker-indicator
		display: none

.link
	gap: 8px
	width: fit-content

	font-size: 18px
	font-weight: 700
	line-height: 22px
	text-decoration-line: underline

	&>*
		margin: 0 !important

blockquote
	padding: 20px 50px 20px 30px
	text-align: left
	border-radius: 30px
	border: 1px solid #3DD9F680
	color: rgba(255, 255, 255, .8)
	gap: 17px
	font-style: italic

	font-size: 16px
	font-weight: 400
	line-height: 22px
	&:last-child
		margin-bottom: 0 !important

	&>*
		margin: 0 !important

	.ic
		min-width: 37px
		width: 37px
		height: 32px

.play__btn
	display: block
	--rgb: 43, 222, 237
	&-ic
		display: block
		width: 100px
		border-radius: 50%
		margin: 0 auto 12px
		aspect-ratio: 1
		background-color: rgba(var(--rgb),.3)
		border: 1px solid rgb(var(--rgb))
		.ic
			margin-top: 14px
			width: 70px
			padding: 20px 19px 20px 22px
			height: 70px
			border-radius: 50%
			background-color: rgb(var(--rgb))

	span
		font-size: 20px
		font-weight: 700
		line-height: 22px
		text-align: left
		text-decoration-line: underline
		display: block

select
	background-repeat: no-repeat
	background-position: center right 20px

textarea
	resize: none
	padding-top: 20px
	padding-bottom: 20px
	-ms-overflow-style: none
	scrollbar-width: none
	&::-webkit-scrollbar
		display: none
		width: 0
		height: 0

	&:last-of-type
		margin-bottom: 0 !important

form
	&.--gold
		label
			color: rgba(255, 255, 255, .6)

		input, textarea, select
			font-size: 18px
			font-weight: 400
			line-height: 21.94px

			height: 54px
			background-color: #0B141D
			border-radius: 12px
			border: 1px solid #FDEAB1
			&::placeholder
				color: rgba(255, 255, 255, .6)

			&:hover,
			&:focus
				background-color: #090F15

		select
			background-image: url('../img/arr-down.svg')

		.btn
			border-radius: 12px

.fx
	&-ac
		align-items: center
	&-jc
		justify-content: center
	&-col
		flex-direction: column
	&-w
		flex-wrap: wrap
	&-as
		align-items: flex-start
	&-jb
		justify-content: space-between
	&-ae
		align-items: end

.inp
	&-wrap
		position: relative
		z-index: 1
		img
			position: absolute
			bottom: 15px
			width: 22px
			aspect-ratio: 1
			z-index: 11
			left: 20px
			& ~ *
				padding-left: 56px

section
	padding: 100px 0
	background-position: center center
	background-repeat: no-repeat
	background-size: cover
	overflow: hidden
	position: relative
	z-index: 1

.mb
	&-10
		margin-bottom: 10px !important

	&-5
		margin-bottom: 5px !important

@keyframes deg360
	0%
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)

@media screen and ( max-width: 992px )
	section
		padding: 80px 0

@media screen and ( max-width: 720px )
	section
		padding: 60px 0

	textarea
		padding: 20px 24px 10px
		height: 80px
